* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222;
}
.box {
  overflow: hidden; //visiable;
  position: relative;
  width: 400px;
  height: 450px;
  background-color: #1c1c1c;
  border-radius: 8px;
}

.box form {
  position: absolute;
  inset: 4px;
  background-color: #222;
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.box h2 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.3rem;
}

.box form .inputbox {
  position: relative;
  width: 300px;
  margin-top: 35px;
}

.box form .inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 10;
  transition: 0.3s;
}

.box form .inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 0 10px;
  color: #8f8f8f;
  pointer-events: none;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.box form .inputbox input:valid ~ span,
.box form .inputbox input:focus ~ span {
  color: #fff;
  font-size: 0.75em;
  transform: translateY(-34px); /*向上移动34个像素*/
}
.box form .inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s;
}
.box form .inputbox input:valid ~ i,
.box form .inputbox input:focus ~ i {
  height: 42px;
}
.box form .links {
  display: flex;
  justify-content: space-between;
}
.box form .links a {
  margin: 10px 0;
  font-size: 0.75em;
  color: #8f8f8f;
}
.box form .links a:hover {
  color: #fff;
}

.box form input[type='submit']{
    padding: 10px 25px;
    background: #fff;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    font-weight: 600;
    width:80%;
    margin-top: 10px;
    margin-left: 30px;
}

.box form input[type='submit']:active {
  opacity: 0.8;
}

.borderline{
  position: absolute;
  top: 0;
  inset: 0;
}

.box::before,
.box::after,
.borderline::before,
.borderline::after{
    /* 对box和borderlin前后插入伪元素 为元素content必xu有尽管它可以是空 */
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 450px;
    /* 使用线性渐变作为伪元素的背景样式。渐变采用了透明到非透明的过渡，具体颜色值会根据动画来变化。 */
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;/*设置伪元素的层级为 1，使其位于正常文档流之上。位于其他大于一的效果之下从而辅助形成一条线的效果*/
    transform-origin: bottom right;/*控制元素的旋转、缩放和倾斜等变换效果的起始位置 从右下开始从而形成逆时针效果bottom right*/
    animation: animate 6s linear infinite; 
}
.box::after {
    animation-delay: -3s;/*动画开始前延迟*/
}

.borderline::before {
    /* 使用线性渐变作为伪元素的背景样式。渐变采用了透明到非透明的过渡，具体颜色值会根据动画来变化。 */
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    animation-delay: -1.5s; /*动画开始前延迟*/
}
.borderline::after{
    /* 使用线性渐变作为伪元素的背景样式。渐变采用了透明到非透明的过渡，具体颜色值会根据动画来变化。 */
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    animation-delay: -4.5s;
}


@keyframes animate {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}